<!-- <app-header></app-header>
<app-menu></app-menu>
<app-content></app-content>
<app-footer></app-footer> -->
<!-- <h1>Hola App</h1> -->
<!-- <p>{{employee1.name}} {{employee1.lastName}}</p>
<p>{{employee2.name}} {{employee2.lastName}}</p>
<p>{{employee3.name}} {{employee3.lastName}}</p> -->

<!-- {{employeeList | json}}
<ul>
    <li *ngFor="let employee of employeeList">{{employee.name}} {{employee.lastName}}
        <ul>
            <li *ngFor="let responsability of employee.responsabilities">{{responsability}}</li>
        </ul>
    </li>
</ul> -->
<app-header></app-header>
<app-menu></app-menu>
<router-outlet></router-outlet>
<app-footer></app-footer>