<div class="ui-md-12">
    <div class="ui-md-3">
        <div class="ui-md-3">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                <input type="text" [(ngModel)]="product.name" pInputText placeholder="Name">
            </div>
        </div>

        <div class="ui-md-3">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">$</span>
                <input type="text" [(ngModel)]="product.price" pInputText placeholder="Price">
            </div>
        </div>

        <div class="ui-md-3">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">--</span>
                <input type="text" [(ngModel)]="product.description" pInputText placeholder="Description">
            </div>
        </div>
        <div class="ui-md-3">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">--</span>
                <!-- <p-fileUpload name="product.image" url="./assets"></p-fileUpload> -->
                <!-- <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload> -->
            </div>
        </div>
        <div *ngIf="!productId" class="ui-md-3">
            <button [disabled]="(
            !product.name ||
            !product.price ||
            !product.description)" pButton type="button" label="Add" (click)="onAddProduct()"></button>
        </div>

        <div *ngIf="productId" class="ui-md-3">
            <button [disabled]="(
            !product.name ||
            !product.price ||
            !product.description)" pButton type="button" label="Save" (click)="onSaveProduct()"></button>
        </div>
    </div>
    <div *ngIf="productId" class="ui-md-9">
        <p-lightbox [images]="product.image"></p-lightbox>
    </div>
</div>